# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# PyCharm project files
.idea/

# Pytest cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.env.*

# VS Code (если проект открывается в нескольких IDE)
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db